<%- include('partials/header.ejs') %>    

<section id="about" class="py-5 bg-light">
    <div class="container text-center">
        <h2 class="mb-4">About Us</h2>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <p>
                    Welcome to our blog app! We are passionate developers who enjoy sharing knowledge, tips, and tutorials about web development and beyond. Our goal is to help others learn, grow, and stay updated with the latest trends in the tech world.
                </p>
                <p>
                    Our team is made up of seasoned developers with expertise in various programming languages and technologies. We believe in the power of community and continuous learning.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="py-5 bg-light">
    <div class="container text-center">
        <h2 class="mb-4">Contact Info</h2>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <p>We would love to hear from you! Feel free to reach out with any questions or comments.</p>
                <ul class="list-unstyled">
                    <li>Email: <a href="mailto:haricrisb@gmail.com">haricrisb@gmail.com</a></li>
                    <li>Phone: +91-9092327318</li>
                    <li>Address: Car Street, Minjur, TN 601203</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer.ejs') %>
